<h1> Employees Page </h1>


<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>Salary</th>
        <th>Update</th>
    </tr>


    <tr>


    </tr>
    <% for(let e of employees){%>
        <tl>
            </tr>
            <td>
                <%=e.eid %>
            </td>
            <td>
                <%=e.ename %>
            </td>
            <td>
                <%=e.role %>
            </td>
            <td>
                <%=e.salary %>
            </td>
            <td>
                <a href="http://localhost:3004/edit/<%=e.eid%>">Update</a>
            </td>
            </tr>
            <% }%>



</table>
<br /><br />
<hr>
<h2><a href="http://localhost:3004/">Home</a></h2>